/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS added by me */
h1, nav, #subheading, #subheading-para{
    display: inline-block;
}
b{
    font-style: bold;
}
h1{
    color: #972929;
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    margin-left: 200px;
}
#header-nav a{
    text-decoration: none;
    color: white;
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    padding: 10px;

}
#subheading{
    color: #f7f7f7;
    text-transform: uppercase;
    font-family:'Fira Sans', sans-serif;
    font-size: 24px;
}
textarea, #msg-label, #name-label{
    display: block;
}
.header-button{
    font-family:'Fira Sans', sans-serif;
    border:2px solid white;
    background:  #272727;
    color: #f7f7f7;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 120px;
    padding: 5px;
}
nav{
    float: right;
    padding: 10px;
    margin-right: 200px;
}
header{
    background: #272727;
    height: 35%;
}
#header-banner{
    margin-left: 200px;
    margin-top: 150px;
    width: 500px;
}
b{
    font-weight: 900;
}
#subheading-div{
    margin-top: 15px;
    width: 80%;
}
#subheading-para{
    font-family:'Fira Sans', sans-serif;
    font-size: 16px;
    color: #f7f7f7;
}
.circle {
    height: 225px;
    width: 225px;
    border: 2px solid #DD3C3C;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-left:450px;
    background: #DD3C3C;
    margin-top: 40px;

}
#first-section
{
    background: white;

}
#mainheading1
{
    margin-left: 200px;
    margin-top: 50px;
    color: #A42D2D;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
}
#main-para1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 200px;
    font-weight: 200;
}
.main-button{
    font-family:'Fira Sans', sans-serif;
    border:2px solid #A42D2D;
    background:  #fff;
    color: #A42D2D;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 5px;
    margin-left: 200px;
}
#second-section
{
    background: #F1F0F0;
    padding-bottom: 50px;

}
#mainheading2
{
    margin-left: 500px;
    color: #A42D2D;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 60px;
}
#main-para2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 200px;
    text-align: center;
    margin-bottom: 50px;

}